<section class="sectors" data-reveal>
  <div class="container">
    <p class="sectors__label"><%= loc.clientsSection.eyebrow %></p>
  </div>
  <div class="marquee" data-marquee>
    <div class="marquee__track">
      <% loc.niches.forEach(function(n) { %>
        <span class="marquee__item"><%= n.title %></span>
      <% }) %>
    </div>
  </div>
</section>
