<span class="logo__mark" aria-hidden="true">
  <svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M16 2 30 9.5v13L16 30 2 22.5v-13L16 2Z" class="logo__mark-ring"/>
    <path d="M16 8.5 22.5 20h-4.1l-2.4-4.6L13.6 20H9.5L16 8.5Z" class="logo__mark-a"/>
  </svg>
</span>
<span class="logo__text">
  <span class="logo__name">ADT</span><span class="logo__suffix">GROUP</span>
</span>
