<section class="notfound container">
  <div data-reveal>
    <div class="notfound__code">404</div>
    <h1><%= ui.notFound.title %></h1>
    <p><%= ui.notFound.text %></p>
    <a href="/" class="btn btn--primary">
      <%= ui.notFound.back %>
      <%- include('../partials/icon', { name: 'arrow' }) %>
    </a>
  </div>
</section>
